@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><button type="submit" class="btn btn-link navbar-btn navbar-link logout">Log off</button></li>
            </ul>
        </div>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
<div class="nav notify-row pull-right" id="top_menu">
    <ul class="nav top-menu">
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu extended admin-settings inbox">
                <div class="notify-arrow-right notify-arrow-green"></div>
                <li>
                    <p class="green">You have 5 new messages</p>
                </li>
                <li>
                    <a href="index.html#">
                        <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                        <span class="subject">
                            <span class="from">Zac Snider</span>
                            <span class="time">Just now</span>
                        </span>
                        <span class="message">
                            Hi mate, how is everything?
                        </span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                        <span class="subject">
                            <span class="from">Divya Manian</span>
                            <span class="time">40 mins.</span>
                        </span>
                        <span class="message">
                            Hi, I need your help with this.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                        <span class="subject">
                            <span class="from">Dan Rogers</span>
                            <span class="time">2 hrs.</span>
                        </span>
                        <span class="message">
                            Love your new Dashboard.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                        <span class="subject">
                            <span class="from">Dj Sherman</span>
                            <span class="time">4 hrs.</span>
                        </span>
                        <span class="message">
                            Please, answer asap.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">See all messages</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->
    </ul>
    </li>
    </ul>
</div>